body {
	padding: 2rem;
	font-family: sans-serif;
}

h1 {
	font-size: 2rem;
	margin-bottom: 1rem;
}

nav {
	margin-bottom: 1rem;
}

nav ul {
	display: flex;
	gap: .5rem;
	list-style-type: none;
}


button.reload {
	margin-top: 2rem;
	font-size: 1.5rem;
}