body {
	padding: 2rem;
	font-family: sans-serif;
	background-color: #ccc;
}

h1 {
	font-size: 2rem;
}

button.reload {
	margin-top: 2rem;
	font-size: 1.5rem;
}

p {
	line-height: 2.5rem;
	margin-bottom: .7rem;
}

nav ul li a {
	text-decoration: none;
	color: #222;
}

nav ul li a:hover {
	text-decoration: underline;
}

nav ul li a.active {
	color: rgb(158, 59, 2);
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 1rem;
}

.menuIcon {
	font-size: 1.5rem;
	cursor: pointer;
}

.menuIcon:hover {
	opacity: .5;
}

/* mobile */
@media screen and (max-width: 767px) {
	nav {
		margin-bottom: 1.5rem;
		background-color: #aaa;
		padding: 1rem 1rem .5rem 1rem;
		border-radius: .5rem;
	}

	nav ul li {
		margin-bottom: .5rem;
	}
}

/* computer */
@media screen and (min-width: 768px) {
	nav {
		margin-bottom: 1.5rem;
		background-color: #aaa;
		padding: .5rem;
		display: block;
	}

	nav ul {
		display: flex;
		gap: .8rem;
		list-style-type: none;
	}

	.menuIcon {
		display: none;
	}

}