body {
	padding: 2rem;
	font-family: sans-serif;
	background-color: #ccc;
}

h1 {
	font-size: 2rem;
}

h1 a {
	text-decoration: none;
	color: #000;
}

h2 {
	font-size: 1.5rem;
	margin-bottom: 1rem;
	color: brown;
}

h2:not(:first-of-type) {
	margin-top: 1.5rem;
}

h2:after {
	content: ':';
}

code {
	color: brown;
	font-family: monospace;
	font-size: 1rem;
	background-color: #bbb;
}

button.reload {
	margin-top: 2rem;
	font-size: 1.5rem;
}

nav ul li a {
	text-decoration: none;
	color: #222;
}

nav ul li a:hover {
	text-decoration: underline;
}

nav ul li a.active {
	color: brown;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 1rem;
}

.menuIcon {
	font-size: 1.5rem;
	cursor: pointer;
}

.menuIcon:hover {
	opacity: .5;
}

b {
	font-weight: bold;
}

i {
	font-style: italic;
}

.loading {
	display: flex;
	gap: .4rem;
	font-size: 1.4rem;
	color: #555;
}

.content {
	margin-top: 1.5rem;
}

.spinner {
	animation: spin 1s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

.page {
	padding-top: .5rem;
}

.page ul {
	list-style: disc;
	margin-left: 1rem;
}

.page ul ul {
	list-style: circle;
}

.page ul li {
	margin-top: .5rem;
	line-height: 1.3rem;
}

img.siteImage {
	display: block;
	margin-top: .5rem;
	border-radius: .5rem;
}

blockquote {
	background-color: #bbb;
	padding: 1rem;
	margin-top: 1.5rem;
	text-align: center;
	font-style: italic;
	font-size: 1.3rem;
	font-family: monospace;
	color: darkred;
	border: 1px solid #aaa;
	border-radius: .5rem;
	width: calc(100% - 2rem);
}

.githubLinkArea {
	margin-top: 1rem;
	font-size: 1rem;
	color: #000;
}

.githubLinkArea a {
	color: #000;
}

/* EMPLOYEES */
div.employees {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
}

div.employee {
	background-color: #777;
	padding: 1rem;
	border-radius: .5rem;
	width: 20rem;
}

div.employee img {
	width: 5rem;
	border-top-left-radius: .5rem;
	border-bottom-left-radius: .5rem;
}

div.employee .employeeHeader {
	display: flex;
	align-items: center;
	background-color: #8b8888;
	border-radius: .5rem;
	border: 1px solid #666;
	margin-bottom: .5rem;
}

div.employee .employeeInfo {
	display: flex;
	width: 100%;
	justify-content: center;
}

div.employee .innerEmployeeInfo {
	display: flex;
	width: 100%;
	flex-direction: column;
	align-items: center;
}

div.employee .fullName {
	font-weight: bold;
	margin-bottom: .3rem;
}

div.employee .title {
	font-style: italic;
}

div.employee .notes {
	font-style: italic;
	line-height: 1.3rem;
}

div.errorMessage {
	background-color: rgb(192, 31, 2);
	color: yellow;
	padding: 1rem;
	border-radius: .5rem;
	width: fit-content;
}

div.errorMessage h3 {
	color: black;
	font-weight: bold;
}

/* JOBS */

div.fullJobs {
	display: flex;
	gap: 1rem;
	flex-direction: column;
}

div.fullJob {
	background-color: #ddd;
	padding: 1.5rem;
	border-radius: .5rem;
	border: 1px solid #aaa;
}

div.fullJob .header {
	background-color: #ccc;
	padding: .8rem;
	border-radius: .5rem;
	border: 1px solid #aaa;
	margin-bottom: 1rem;
}

div.fullJob .title {
	font-weight: bold;
	margin-bottom: .3rem;
}

div.fullJob .title a {
	text-decoration: none;
	color: #000;
}

div.fullJob .title a:hover {
	text-decoration: underline;
}

div.fullJob .company {
	margin-bottom: .3rem;
}

div.fullJob .skill a {
	color: brown;
	margin-bottom: .3rem;
	font-weight: bold;
	text-decoration: none;
}

div.fullJob .skill a:hover {
	text-decoration: underline;
}

p.intro {
	line-height: 1.5rem;
}

div.constructionSignArea {
	margin-top: 2rem;
}

.pageLocalStorage h3 {
	font-size: 1.5rem;
}

/* mobile */
@media screen and (max-width: 767px) {
	header {
		margin-bottom: 1.5rem;
	}

	header h1 {
		font-size: 1.7rem;
	}

	nav {
		margin-bottom: 1.5rem;
		background-color: #aaa;
		padding: 1rem 1rem .5rem 1rem;
		border-radius: .5rem;
		display: none;
	}

	nav ul li {
		margin-bottom: 1rem;
		font-size: 1.4rem;
	}

	nav ul li:last-child {
		margin-bottom: 1rem;
	}

	p {
		line-height: 1.4rem;
		margin-bottom: .7rem;
	}

	img {
		width: 100%;
	}

	div.constructionSignArea img {
		width: auto;
	}

	div.constructionSignArea {
		display: flex;
		justify-content: center;
	}

}

/* computer */
@media screen and (min-width: 768px) {
	nav {
		background-color: #aaa;
		padding: .5rem;
		display: block;
		margin-bottom: 1rem;
	}

	nav ul {
		display: flex;
		gap: .8rem;
		list-style-type: none;
	}

	.menuIcon {
		display: none;
	}

	p {
		line-height: 2.5rem;
		margin-bottom: .7rem;
	}

	header {
		margin-bottom: 1rem;
	}

	blockquote {
		width: 20rem;
	}

	.fullJob {
		width: 40rem;
	}

	.todoApp {
		width: 30rem;
	}
}

/* TODO MANAGER */

.todoApp {
	background-color: #eee;
	padding: 1rem;
	border-radius: .5rem;
}

.todoApp .header {
	background-color: #ddd;
	padding: .5rem;
	text-align: center;
	border-radius: .5rem;
	margin-bottom: 1rem;
}

.todoApp .header h3 {
	font-size: 2rem;
	margin-bottom: .5rem;
}

.todoApp .main {
	font-size: 1rem;
	background-color: #ddd;
	padding: .5rem;
	text-align: center;
	border-radius: .5rem;
	margin-bottom: 1rem;
}

.todoApp .todos .todo {
	background-color: #ddd;
	margin-bottom: .5rem;
	padding: .5rem;
	display: flex;
	justify-content: space-between;
}

.todoApp .todos .todo .deleteIcon {
	cursor: pointer;
}

.todoApp .addArea {
	display: flex;
	justify-content: center;
	margin-bottom: 1rem;
}

.todoApp .addForm fieldset {
	padding: 1em;
	margin-bottom: 1rem;
	border: solid 1px #ccc;
	border-radius: 6px;
	background-color: white;
}

.todoApp .addForm fieldset legend {
	font-variant: small-caps;
}

.todoApp .addForm fieldset .title {
	width: 100%;
	font-size: 1.4rem;
}

.todoApp .addForm fieldset .starsArea {
	display: flex;
	margin-top: 1rem;
	place-items: center;
}

.todoApp .addForm fieldset .starsArea .slider {
	padding-top: -1rem;
}